[Unit]
Description=Net uplink watcher and power governor
Documentation=https://github.com/ryanj/poweroverinternet
Requires=network.target
Wants=network-online.target
After=network-online.target
Before=shutdown.target multi-user.target
Conflicts=shutdown.target

[Install]
WantedBy=multi-user.target local.target

[Service]
Environment="REMOTE_SERVER=192.168.1.1"
Environment="REMOTE_PORT=80"
Environment="GPIO_DEVICE=gpiochip0"
Environment="IMG=ryanj/poweroverinternet:latest"
Environment="CONTAINER_NAME=rerouter"
Restart=always
ExecStartPre=-/usr/bin/podman rm --force ${CONTAINER_NAME}
ExecStart=/usr/bin/podman run -it --rm --name ${CONTAINER_NAME} -e REMOTE_SERVER=${REMOTE_SERVER} -e REMOTE_PORT=${REMOTE_PORT} --device=/dev/${GPIO_DEVICE} ${IMG}
ExecStop=/usr/bin/podman rm --force ${CONTAINER_NAME}
